body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0; }

#container {
  margin: 0px auto;
  width: 85%; }

#article {
  font-family: sans-serif;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  margin: 15px 0px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67); }
  #article:hover {
    box-shadow: 0 1px #FFFFFF inset, 0 3px 9px rgba(34, 25, 25, 0.4);
    transition: all 0.1s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    cursor: pointer; }

#title-article {
  font-size: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 5px; }
  #title-article:hover {
    cursor: pointer; }

#date-article {
  font-size: 12px;
  color: #5e4a4a;
  margin: 10px auto; }

#author-article {
  margin: 10px auto;
  font-size: 16px; }
  #author-article a {
    text-decoration: none;
    color: black;
    font-weight: bold; }
    #author-article a:hover {
      text-decoration: underline;
      color: #3232ad; }

#body-article {
  font-size: 15px;
  line-height: 20px; }
